<div class="container">
    <h1>Lista de personajes</h1>
    <h3>
        Páginas: {{numPage}}
    </h3>
    <h4>Num Página: {{currentPage}}</h4>
    <div class="botones">
        <button (click)="changePage(-1)" class="btn btn-primary" [disabled]="currentPage === 1">Anterior</button>
        <button (click)="changePage(+1)" class="btn btn-primary ml-2" [disabled]="currentPage === numPage">Siguiente</button>
    </div>
    <div class="row">
        <div class="col-md-3 col-6" *ngFor="let personaje of arrPersonajes">
            <div class="personaje" [ngClass]="{vivo: (personaje.status === 'Alive'), muerto: (personaje.status === 'Dead')}">
                <h3>{{personaje.name}}</h3>
                <img [src]="personaje.image" [alt]="personaje.name">
                <p>{{personaje.species}}</p>
            </div>
        </div>
    </div>
</div>